# Folders to ignore
application\config
bundles
.hg
.svn
.CVS
intermediate
publish
.idea


# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject



smtp.php
config.php
database.php
application.php
session.php
auth.php
